:root {
    --primary-color: #0A0F24;
    --secondary-color: #3a5ecc;
    --button-color: #1E3A8A;
    --text-primary: #fff;
    --text-secondary: #AAB3C4;
    --font-size: 1.1rem;
    --secondary-header-font-size: 1.7rem;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-height: 100vh;
    background: var(--primary-color);
    color: var(--text-primary);
    font-size: var(--font-size);
}

/* header section - start */

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--secondary-color);
    position: fixed;
    width: 100%;
    padding: 10px;
    height: 80px;
    top: 0;
    left: 0;
    backdrop-filter: blur(4px);
    z-index: 10;
}

header img[alt="Ashmoon32-Logo"] {
    width: 60px;
    height: auto;
}

.title-and-icon {
    display: flex;
    gap: 2px;
    align-items: center;
}

/* hide header title for mobile */
.title-and-icon h1 {
    display: none;
}

nav ul {
    display: none; /* hide for mobile */
    /* display: flex; */
    gap: 10px
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: var(--text-secondary);
}

/* header section - End */

/* main section - Start */

main {
    max-width: 95%;
    margin: 120px auto 20px;
    text-align: center;
    padding: 10px;
}

/* hero section - Start */
.hero {
    padding: 10px 0;
    margin: 30px auto;
}

.hero > img {
    margin-bottom: 20px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid var(--text-secondary);
    box-shadow: 1px 1px 10px 5px var(--secondary-color);
}

.hero .about {
    max-width: 80%;
    text-align: center;
    margin: 10px auto;
}

.about h3 {
    margin: 20px auto;
    font-size: var(--secondary-header-font-size);
}

.about p {
    font-size: var(--font-size);
    font-weight: 100;
    line-height: 1.3rem;
}

/* hero section - End */

/* Skills section - Start */

.skills {
    max-width: 100%;
    margin: 20px auto;

}

.skills-container {
    display: flex;
    gap: 20px;
    max-width: 60%;
    margin: 20px auto;
    justify-content: space-between;
    flex-wrap: wrap;

}

.skills h3 {
    margin: 20px auto;
    padding: 10px 0;
    text-align: center;
    font-size: var(--secondary-header-font-size);
}

.skills-container i {
    font-size: 60px;
    margin-bottom: 3px;
    padding: 5px;
}


/* skill icons color */
.fa-html5 {
    color: #E34F26;
    text-shadow: 0 0 10px rgba(227, 79, 38, 0.6);
}

.fa-css3-alt {
    color: #1572B6;
    text-shadow: 0 0 10px rgba(21, 114, 182, 0.6);
}

.fa-js {
    color: #F7DF1E;
    text-shadow: 0 0 10px rgba(247, 223, 30, 0.6);
}

.fa-bootstrap {
    color: #681ead;
    text-shadow: 0 0 10px rgba(92, 35, 115, 0.698);
}

/* Skills section - End */

/* Projects section - Start */

.projects-container {
    margin: 50px auto;
    max-width: 1000px;
}

.projects-container h3 {
    text-align: center;
    margin: 50px auto 10px;
    padding: 20px;
    font-size: var(--secondary-header-font-size);
}

.project-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 10px 0;
}

.card {
    max-width: 100%;
    background-color: var(--text-secondary);
    margin: 10px 0;
    border-radius: 10px;
    padding: 5px;
    border: 2px solid rgb(42, 47, 53);
}

.project-cards .card img {
    width: 100%;
    max-height: 70%;
    border-radius: 5px;
    margin-bottom: 8px;
}

.card span {
    font-size: 1.3rem;
    color: var(--text-primary);
    display: block;
    margin-bottom: 9px;
    text-align: center;
    font-weight: 700;
}

.card p {
    text-align: center;
    font-size: var(--font-size);
    color: #000;
    font-weight: 400;
    margin-bottom: 10px;
}

.card a {
    text-decoration: none;
    color: var(--secondary-color);
    margin: 10px;
    cursor: pointer;
}

.card .api-links {
    text-decoration: underline;
    color: blue;

}


/* Projects section - End */

/* Contact section - Start */

.contact-container {
    margin: 50px auto;
    max-width: 700px;
}

.contact-container > h3 {
    margin-bottom: 15px;
    font-size: var(--secondary-header-font-size);
    text-align: center;
}

.contact-container .form-group {
    display: flex;
    flex-direction: column;
}


.contact-container .form-group input,
.contact-container .form-group textarea {
    width: 100%;
    margin: 0 auto;
    padding: 14px 10px;
    border: 2px solid #ccc;
    border-radius: 7px;
    background: transparent;
    outline: none;
    color: #fff;
    font-size: var(--font-size);
    cursor: pointer;
    transition: border-color 0.3s;
}

.contact-container .form-group-inside {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    position: relative;
    width: 100%;
}

.contact-container .form-group label {
    position: absolute;
    left: 14px;
    top: 17px;
    color: #777;
    font-size: var(--font-size);
    padding: 0 4px;
    transition: 0.3s ease;
    pointer-events: none;
    background: var(--primary-color) ;
}

.form-group-inside > textarea {
    resize: none;
}

.form-group-inside input:focus,
.form-group-inside input:valid,
.form-group-inside textarea:focus,
.form-group-inside textarea:valid {
    border-color: #1a73e8;
}

.form-group-inside input:focus + label,
.form-group-inside input:valid + label,
.form-group-inside textarea:focus + label,
.form-group-inside textarea:valid  + label {
    top: -8px;
    left: 8px;
    color: #1a73e8;
    font-size: 13px;
}

/* Contact section - End */

/* Main section - End */

/* footer - start */

footer {
    text-align: center;
    color: #dfdfdfaa;
}

/* footer - end */

/* Responsive section - start */

/* Unexpected error occurred! I though , in large screen, making two columns for cards will cards look beautiful . But it not really look good:)) */

/* @media (min-width: 900px) {
    .project-cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
    }

    .card {
        min-height: 400px;
    }
    .card img {
        min-height: 200px;
    }
} */

@media (min-width: 900px) {
    .project-cards {
        gap: 50px;
    }

    .card {
        margin-bottom: 20px;
    }

    .card img {
        margin-bottom: 20px;
    }

    .card span {
        margin: 20px 0;
        font-size: 2rem;
    }

    .card p {
        margin-bottom: 20px;
        font-size: 1.3rem;
    }

    .card a {
        margin-bottom: 10px;
        display: inline-block;
        font-size: 20px;
    }

    .skills {
       margin: 50px auto;
    }

    .skills h3, .about h3, .projects-container h3, .contact-container h3 {
        margin-bottom: 20px;
        font-size: 2rem;
    }

    .about p {
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 2rem;
        word-spacing: 2px;
    }

    .skill i {
        font-size: 80px;
    }
}
